@import "src/shared";

.loader {
  border-color: #767676;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  @include size(32px);
  animation: spin 1s linear infinite;
  display: none;
  visibility: hidden;

  &.active {
    display: block;
    visibility: visible;
  }

  &.inverted {
    border-color: rgba(white, 0.87);
  }

  &.centered {
    margin: 0 auto;
  }

  &.small {
    @include size(24px);
  }

  &.medium {
    @include size(32px);
  }

  &.large {
    @include size(40px);
  }

  &:not(.inline) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
    z-index: 1000;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
