@import "src/shared";

.loader {
  border: 16px solid rgba(255, 255, 255, 0.15);
  border-top: 16px solid rgba(black, 0.87);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;

  &.inverted {
    border-top: 16px solid rgba(white, 0.87);
  }

  &.centered {
    margin: 0 auto;
  }

  &.small {
    @include size(24px);
  }

  &.medium {
    @include size(32px);
  }

  &.large {
    @include size(40px);
  }

  &:not(.inline) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
    z-index: 1000;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
