@import "src/shared.scss";

$buttonColor: #f1f1f1;
$button-border: 1px solid #ddd;

.button {
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  min-height: 1em;
  outline: none;
  border: $button-border;
  vertical-align: baseline;
  background: $buttonColor;
  @include font-size(small, normal);
  margin: 0em 0.25em 0em 0em;
  padding: 1em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px transparent inset,
    0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  user-select: none;
  text-decoration: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;

  &:hover {
    background: darken($buttonColor, 10);
    color: inherit;
  }

  &.fluid {
    width: 100%;
  }

  &.primary {
    background: $action-color;
    border: 1px solid darken($action-color, 5);
    color: white;

    &:hover {
      background: darken($action-color, 10);
    }
  }

  &.secondary {
    background: $color-accent;
    border: 1px solid darken($color-accent, 5);
    color: white;

    &:hover {
      background: darken($color-accent, 10);
    }
  }

  &.text {
    background-color: transparent;
    color: $action-color;
    font-weight: bold;
    padding: 0;
  }

  &.large {
    @include font-size(normal, large);
    padding: $base-spacing $base-spacing * 2;
  }

  &.small {
    @include font-size(small);
    padding: $small-spacing;
  }

  &.outline {
    background-color: transparent;
    // border-radius: 20px;
    border: 1px solid rgba($base-font-color, 0.8);
    color: rgba($base-font-color, 0.8);
    // margin-bottom: $small-spacing;
    padding: 0.6em 1em;
    text-decoration: none;
    transition: $base-transition;

    &:hover {
      background-color: rgba($base-font-color, 0.9);
      color: white;
    }

    &.primary {
      border: 1px solid $action-color;
      color: $action-color;

      &:hover {
        background-color: $action-color;
        color: white;
      }
    }

    &.error {
      border: 1px solid $color-error;
      color: $color-error;

      &:hover {
        background-color: $color-error;
        color: white;
      }
    }
  }
}
